<!DOCTYPE html>
<link rel="icon" href="http://gravatar.com/avatar/6ca856bf3388e90d80e22ce137740209?s=16">
<link rel="stylesheet" href="styles.css">
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>tgd25 - AZSPCS - Universal</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0"></script>
<script type="module" src="browser.js"></script>

<div id="app">
    <div id=instructions v-show="!supportsWorkerModules">
        You must use Chrome with the <code>enable-experimental-web-platform-features</code> flag enabled.

        Either turn the flag on permanently via <code>chrome://flags/#enable-experimental-web-platform-features</code>
        or, launch Chrome with the flag set (e.g.,
        <code>chrome http://localhost:3000 --enable-experimental-web-platform-features</code>).
    </div>

    <div class=contest v-bind:class="{hide: contest.hide}" v-show="supportsWorkerModules" v-for="(contest, contestIndex) in contests">
        <h1 v-on:click="contest.hide = !contest.hide">{{contest.name}}</h1>
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>#</th>
                    <th>score</th>
                    <th>best</th>
                    <th>%</th>
                    <th>updated</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(problem, problemIndex) in contest.problems">
                    <td><input value="➕" type="button" v-on:click="addWorker" v-bind:data-contest="contestIndex" v-bind:data-problem="problemIndex"></td>
                    <td><input v-for="(worker, workerIndex) in problem.workers" value="🗑" type="button" v-on:click="deleteWorker" v-bind:data-contest="contestIndex" v-bind:data-problem="problemIndex" v-bind:data-worker="workerIndex"></td>
                    <td>{{problem.name}}</td>
                    <td>{{problem.score ? problem.score.toLocaleString() : ''}}</td>
                    <td>{{problem.best ? problem.best.toLocaleString() : ''}}</td>
                    <td>{{problem.percentage}}</td>
                    <td>{{problem.lastUpdate ? moment(problem.lastUpdate).fromNow() : ''}}</td>
                </tr>
            </tbody>
        </table>

        <aside>
            <canvas v-bind:id="'canvas-' + contest.name" width=320 height=300></canvas>
            <textarea rows=5 v-on:click="selectAllText">{{contest.allSolutions}}</textarea>
        </aside>

    </div>

    <div id=logs>
        <div v-for="(log, logIndex) in logs">
            <span>{{log.datetime}}</span>
            <span>{{log.message}}</span>
        </div>
    </div>

</div>