@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #111;
  color: #fff;
  font-size: 10px;
}

#logs {
  background: #333;
  padding: 4px;
}

#logs > div {
  margin-bottom: 4px;
}

#logs span:first-child {
  color: #999;
  padding-right: 4px;
}

.contest {
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
}

div.contest.hide > table,
div.contest.hide > aside {
  display: none;
}

h1,
table,
canvas,
textarea {
  background: #333;
  border: solid 1px #000;
}

h1 {
  cursor: pointer;
  width: 100%;
  padding: 0 0 0 16px;
  margin: 0;
  background: #0078d4;
  line-height: 48px;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  flex-grow: 3;
}

thead > tr {
  background: #666;
}

tbody > tr:hover {
  background: #000;
}

th,
td {
  padding: 4px 8px;
  text-align: right;
}

td:nth-child(1),
td:nth-child(2) {
  text-align: left;
}
td:last-child {
}

aside {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 8px;
  flex-grow: 1;
  overflow: hidden;
  color: #999;
}

input {
  border: solid 1px #000;
  padding: 4px 16px;
}

input.running {
  background-color: #09c;
  color: #fff;
}

body,
td:last-child {
  font-family: Roboto, sans-serif;
}

#logs,
td,
textarea,
input {
  font-family: "Roboto Mono", monospace;
}
